$fonts-list: (
  "Abril Fatface",
  "Amatica SC",
  "Amithen",
  "Anton",
  "Bangers",
  "Bree Serif",
  "Cabin Sketch",
  "Caveat Brush",
  "Chewy",
  "Cookie",
  "Coustard",
  "Dancing Script",
  "Delish Pro",
  "Ewert",
  "Finger Paint",
  "Fjalla One",
  "Fredoka One",
  "Great Vibes",
  "IM Fell Double Pica SC",
  "Kalam",
  "Kavoon",
  "Kinfolk Pro",
  "Leckerli One",
  "Londrina Shadow",
  "Love Ya Like A Sister",
  "Margarine",
  "Miniver",
  "Montserrat",
  "Mucho Sans",
  "Muli",
  "Nixie One",
  "Open Sans",
  "Pacifico",
  "Passion One",
  "Permanent Marker",
  "Playfair Display",
  "Prata",
  "Raleway",
  "Ribeye Marrow",
  "Rye",
  "Sansita One",
  "Schoolbell",
  "Six Caps",
  "Special Elite",
  "Stylist",
  "Ultra",
  "Unkempt"
);

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;
  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );
  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@each $item in $fonts-list {
  @include font-face($item, "./assets/fonts/default/" + str-replace($item, " "), normal, normal, ttf);
  @include font-face($item + " Mini", "./assets/fonts/thumb/" + str-replace($item, " "), normal, normal, ttf);
}
