<div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
    <h4 fxFlex class="label">{{ label }}</h4>
    <div>
      <button mat-icon-button fxFlexAlign="end" [disabled]="index === min" (click)="index = (index === min) ? min : index - 1; selection = colors[index]">
        <i class="material-icons">keyboard_arrow_left</i>
      </button>
      <button mat-icon-button fxFlexAlign="end" [disabled]="index === max" (click)="index = (index === max) ? max : index + 1; selection = colors[index]">
        <i class="material-icons">keyboard_arrow_right</i>
      </button>
    </div>
  </div>
  <mat-grid-list cols="6" rowHeight="1:1">
    <mat-grid-tile *ngFor="let i of selection">
      <button mat-mini-fab class="mat-elevation-z2" [ngClass]="{'checked': isChecked(i) }" [style.backgroundColor]="i" (click)="color = i; setColor(i)">
        <i class="material-icons check">check</i>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
